.header {
  position: fixed;
  display: flex;
  align-items: flex-end;

  top: 0;
  left: 0;
  right: 0;

  padding: 0.5rem 2rem;
  padding-left: 3rem;
  padding-bottom: 1rem;

  background: rgba(var(--color-mantle-raw), 0.9);
  backdrop-filter: blur(4px);

  box-shadow: var(--box-shadow-item-light);

  line-height: normal;

  z-index: 10;

  &.backgroundless {
    background: none;
    backdrop-filter: none;
    box-shadow: none;
  }
}

.navigation-header {
  display: flex;
  align-items: center;

  padding: 1rem 1.5rem;
}

.navigation-header-spacer {
  flex: 100%;
}

a.header-icon {
  position: relative;

  padding: 2rem;
  margin: 0;
  margin-right: 2rem;

  background: none;
  border: none;

  font-size: 1.6rem;

  cursor: pointer;

  color: var(--color-subtext0);

  transform: none;

  &:active,
  &:visited,
  &:link,
  &:focus,
  &:hover {
    text-decoration: none;
    color: var(--color-subtext0);
  }

  & > * {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 250ms ease-in-out;
  }

  & > *:nth-child(1) {
    opacity: 0;
  }

  & > *:nth-child(2) {
    opacity: 1;
  }

  &:hover {
    color: var(--color-subtext1);
    transition: color 200ms ease-in-out;

    & > *:nth-child(1) {
      opacity: 1;
    }

    & > *:nth-child(2) {
      opacity: 0;
    }
  }
}

@media (max-width: 750px) {
  .navigation-header {
    display: none;
  }
}
