@keyframes addborder {
  0% {
    color: var(--color-subtext1);
    border-color: rgba(var(--color-text-raw), 0);
  }
  100% {
    color: var(--color-text);
    border-color: rgba(var(--color-text-raw), 0.25);
  }
}

@keyframes addBeforeborder {
  0% {
    border-color: rgba(var(--color-blue-raw), 0);
  }
  100% {
    border-color: rgba(var(--color-blue-raw), 0.5);
  }
}

@keyframes addAfterborder {
  0% {
    border-color: rgba(var(--color-blue-raw), 0);
  }
  100% {
    border-color: rgba(var(--color-blue-raw), 0.75);
  }
}

.header-item {
  position: relative;
  z-index: 1;

  padding: 0.5rem;

  border: 1px solid rgba(var(--color-text-raw), 0);
  border-top: none;
  border-left: none;

  border-radius: 2px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;

  font-size: 1.6rem;
  text-transform: capitalize;

  cursor: pointer;

  &:active,
  &:visited,
  &:link,
  &:focus,
  &:hover {
    text-decoration: none;
    color: var(--color-subtext0);
  }

  &:hover {
    color: var(--color-subtext1);
    transition: color 200ms ease-in-out;
  }
}

.header-item-wrapper {
  position: relative;

  margin-left: 1rem;
  margin-right: 1rem;

  &::before {
    content: '';
    position: absolute;
    left: -5px;
    right: 9px;
    top: -13px;
    bottom: 2px;

    border: 1px solid rgba(var(--color-blue-raw), 0);
    border-bottom: none;
    border-right: none;

    border-radius: 2px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;

    pointer-events: none;
  }

  &::after {
    content: '';
    position: absolute;
    left: -2px;
    right: 4px;
    top: -10px;
    bottom: -3px;

    border: 1px solid rgba(var(--color-blue-raw), 0);
    border-bottom: none;
    border-right: none;

    border-radius: 2px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;

    pointer-events: none;
  }

  &.active {
    .header-item {
      animation: addborder 400ms ease-in-out 1 forwards 50ms;
    }

    &::before {
      animation: addBeforeborder 400ms ease-in-out 1 forwards 200ms;
    }

    &::after {
      animation: addAfterborder 400ms ease-in-out 1 forwards 100ms;
    }
  }
}
