.title {
  user-select: none;
}

.title-header {
  display: flex;
  align-items: baseline;

  &:active,
  &:visited,
  &:link,
  &:focus,
  &:hover {
    text-decoration: none;
    color: var(--color-text) light;
  }
}

.title-main {
  position: relative;
  font-size: 3rem;
  font-weight: 300;
}

.title-secondary {
  font-size: 3rem;
  font-weight: 100;
  z-index: 1;
}

.title-emphasis {
  font-weight: 300;
}

.title-seperator {
  font-size: 2em;
}

.title-sub {
  vertical-align: sub;
  font-size: 0.75em;
}

.title-main-part {
  position: absolute;
  left: 0;
  bottom: 0.5rem;
}

.title-main-start {
  font-size: 1.5em;
  font-weight: 100;
}

.title-main-middle {
  font-size: 0.875em;
  font-weight: 100;
}

.title-main-c {
  bottom: 0.4rem;
}

.title-main-end {
  font-size: 0.6875em;
  font-weight: 100;
  left: 0.3rem;
  bottom: 0.8rem;
}
