@use '@/styles/utils/colors';
@use '@/components/sections/Section.module.scss';

.header {
  position: relative;

  padding: 10rem 8rem;

  font-size: 4rem;
  font-weight: 400;

  color: transparentize(colors.$text, 0.3);
}

.web-dev {
  font-weight: 700;
  color: colors.$text;
}

.next {
  position: absolute;
  left: 50%;
  bottom: 4rem;

  width: 4rem;

  padding: 2rem;

  transform: translateX(-50%);

  opacity: 0.6;

  &,
  &:hover {
    transition: opacity 200ms ease-in-out;
  }

  &:hover {
    opacity: 1;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;

    width: 2rem;
    height: 0.5rem;

    background: colors.$text;

    border-radius: 5px;
  }

  &::before {
    transform: translate(calc(-50% - 0.5rem), -50%) rotate(45deg);
  }

  &::after {
    transform: translate(calc(-50% + 0.5rem + 1px), -50%) rotate(-45deg);
  }
}

@media (max-width: 900px) {
  .header {
    padding: 8rem 2rem;
    padding-bottom: 1rem;
    text-align: center;
  }

  .full-stack {
    display: block;
  }
}

@media (max-width: 700px) {
  .web-dev-end {
    display: none;
  }
}
