@use '@/styles/utils/breakpoints';

a.next {
  position: absolute;
  left: 50%;
  bottom: 4rem;

  height: 5rem;
  width: 5rem;

  margin: 0;
  padding: 2rem;

  border-radius: 100%;

  transform: translateX(-50%);

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: calc(50% + 2px);
    left: 50%;

    width: 2rem;
    height: 0.5rem;

    background: var(--color-crust);

    border-radius: 5px;
  }

  &::before {
    transform: translate(calc(-50% - 0.5rem), -50%) rotate(45deg);
  }

  &::after {
    transform: translate(calc(-50% + 0.5rem + 1px), -50%) rotate(-45deg);
  }
}
