@use '@/styles/utils/breakpoints';

@use '@/components/sections/Section.module.scss';

.section {
  padding-top: 10rem;
}

.projects {
  display: grid;
  align-items: start;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, calc(33% - 2rem));
  column-gap: 2rem;
  row-gap: 4rem;

  max-width: 95%;
  margin: auto;
}

@media (max-width: breakpoints.$mobile) {
  .projects {
    grid-template-columns: repeat(auto-fill, calc(50% - 1rem));

    column-gap: 2rem;
  }
}

@media (max-width: breakpoints.$mobile-small) {
  .projects {
    grid-template-columns: 1fr;
  }
}
