@use '@/styles/utils/colors';
@use '@/components/sections/Section.module.scss';

.section {
  margin-top: -8rem;
  margin-bottom: 10rem;
  padding-top: 10rem;
  padding-bottom: 10rem;
  background: rgba(colors.$black, 0.111);
  box-shadow: inset 0px 0px 5px rgba(colors.$black, 0.15);
}

.projects {
  max-width: 90%;
  margin: auto;
}
