@use '@/styles/utils/colors';
@use '@/components/sections/Section.module.scss';

.section {
  margin-top: -8rem;
  margin-bottom: 10rem;
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.projects {
  max-width: 90%;
  margin: auto;
}
