@use '@/styles/utils/breakpoints';

.section {
  font-size: 1.6rem;

  min-height: 100vh;

  margin-bottom: 18rem;

  position: relative;
}

.section-container {
  max-width: 1200px;
  margin: auto;
}

.section-header {
  margin-bottom: 6rem;

  text-align: center;

  h2 {
    position: relative;
    font-size: 3.6rem;
  }
}

@media (max-width: breakpoints.$mobile) {
  .section {
    margin-bottom: 10rem;
  }
}
