@use '@/styles/utils/colors';
@use '@/components/sections/Section.module.scss';

.work-item {
  width: 70%;

  margin: auto;

  // margin-left: auto;

  // &:nth-of-type(odd) {
  //   margin-left: 0;
  //   margin-right: auto;
  // }
}

.work-item-company {
  padding-bottom: 4rem;

  text-align: center;
}

.work-item-company-name {
  padding: 0;
  margin: 0;

  font-size: 2rem;
}

.work-item-company-length,
.work-item-position-info-length {
  font-size: 1.4rem;
  font-weight: 200;
  padding-left: 1rem;

  cursor: pointer;

  &-detailed {
    opacity: 0;

    transition: opacity 200ms ease-in-out;
  }

  &:hover &-detailed {
    opacity: 0.3;
  }
}

.work-item-company-length {
  padding-left: 0;
}

.work-item-positions {
  display: flex;
  flex-direction: column;

  max-width: 90%;
  margin: auto;
}

.work-item-position {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  text-align: left;

  margin-bottom: 6rem;

  background: colors.$mantle;

  &::before {
    content: '';
    position: absolute;
    left: -1.25rem;
    top: -1.25rem;

    width: 4.5rem;
    height: 4.5rem;

    border-left: 1px solid colors.$text;
    border-top: 1px solid colors.$text;

    border-top-left-radius: 2px;

    opacity: 0.1;
  }

  &::after {
    content: '';
    position: absolute;
    left: -1.5rem;
    top: -1.5rem;

    width: 4rem;
    height: 4rem;

    border-left: 1px solid colors.$text;
    border-top: 1px solid colors.$text;

    border-top-left-radius: 2px;

    opacity: 0.3;
  }
}

.work-item-position-info {
  display: flex;
  align-items: baseline;
  width: 100%;
  padding: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: colors.$crust;
}

.work-item-position-info-title {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 1.8rem;
}

.work-item-position-info-seperator {
  flex: 1;
}

button.work-item-position-info-toggle-minimize {
  position: relative;

  height: 2rem;
  width: 3rem;

  padding: 0;
  margin: 0;

  background: none;
  border-bottom: none;

  font-size: 2rem;

  line-height: 0;

  opacity: 0.3;

  &.minimized {
    opacity: 0.5;
  }

  &:hover {
    opacity: 0.7;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0rem;
    left: 0;
    bottom: 0rem;

    width: 0.5rem;

    border: 1px solid colors.$white;
    border-right: none;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0rem;
    right: 0;
    bottom: 0rem;

    width: 0.5rem;

    border: 1px solid colors.$white;
    border-left: none;
  }
}

.work-item-position-description {
  position: relative;

  width: 100%;

  padding: 2rem;
  padding-top: 1rem;

  box-shadow: inset 2px 2px 10px rgba(colors.$black, 0.05);
}

.work-item-position-technologies {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  width: 100%;

  padding: 1rem 2rem;
  padding-top: 0;

  &::before {
    content: '';
    position: absolute;
    right: -0.75rem;
    bottom: -0.75rem;

    width: 4rem;
    height: 4rem;

    border-right: 1px solid colors.$text;
    border-bottom: 1px solid colors.$text;

    border-bottom-right-radius: 2px;

    opacity: 0.3;
  }

  &::after {
    content: '';
    position: absolute;
    right: -1rem;
    bottom: -1rem;

    width: 3.5rem;
    height: 3.5rem;

    border-right: 1px solid colors.$text;
    border-bottom: 1px solid colors.$text;

    border-bottom-right-radius: 2px;

    opacity: 0.1;
  }

  &:hover .work-item-position-technologies-intro-text {
    opacity: 1;
  }
}

.work-item-position-technologies-intro {
  position: relative;
  flex: 100%;
  width: 100%;
  margin-bottom: 1.5rem;

  text-align: center;

  opacity: 0.5;

  pointer-events: none;
  user-select: none;

  &-text {
    position: relative;
    padding-left: 2rem;
    padding-right: 2rem;

    background: colors.$mantle;

    font-size: 1.4rem;
    text-shadow: -1px 1px 1px colors.$black;
    opacity: 0;

    transition: opacity 200ms ease-in-out;
  }

  &::before {
    content: '';
    position: absolute;
    left: 5%;
    right: 5%;
    top: calc(50% + 1px);

    height: 1px;

    background: colors.$text;

    opacity: 0.1;
  }
}

.work-item-position-technology-icon-wrapper {
  height: 3.5rem;
  width: 3.5rem;
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;

  font-size: 2.5rem;

  // background: colors.$crust;
  border: 1px solid colors.$base;
  border-radius: 5px;

  box-shadow: 0px 2px 5px rgba(colors.$black, 0.2);

  transition: border 200ms ease-in-out;

  cursor: pointer;

  &:first-of-type {
    margin-left: 0;
  }

  &:last-of-type {
    margin-right: 0;
  }

  &:hover {
    border: 1px solid colors.$mauve;
  }
}

.work-item-seperator {
  background: linear-gradient(
    colors.$base,
    colors.$text 5%,
    colors.$text 95%,
    colors.$base
  );

  width: 1px;
  height: 5rem;
  margin: auto;
  margin-bottom: 5rem;

  opacity: 0.3;
}

.resume-link-extension {
  font-size: 0.6em;
  vertical-align: text-top;
}

@media (max-width: 900px) {
  .section-header {
    margin-bottom: 2rem;
  }

  .work-item {
    width: 100%;
  }

  .work-item-company {
    padding-bottom: 2rem;
  }

  .work-item-position {
    margin-bottom: 2.25rem;
  }

  .work-item-position-info {
    flex-direction: column;
  }

  .work-item-seperator {
    height: 3rem;
    margin-bottom: 2rem;
  }

  button.work-item-position-info-toggle-minimize {
    position: absolute;
    top: 1rem;
    right: -0.5rem;
  }

  a.resume-link {
    display: block;
    width: 75%;
    transform: none;
    margin-left: auto;
    margin-right: auto;
  }
}
