@use '@/styles/utils/breakpoints';

@use '@/components/sections/Section.module.scss';

.work-item {
  max-width: 95%;

  margin: auto;
  margin-bottom: 6rem;
}

.work-item-company {
  display: flex;
  align-items: baseline;

  padding: 1rem 2rem;

  border-bottom: 1px solid var(--color-crust);

  background: var(--color-mantle);
}

.work-item-company-name {
  padding: 0;
  padding-right: 1rem;
  margin: 0;

  font-size: 2rem;
}

.work-item-company-subtitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .work-item-company-length-detailed,
  .work-item-position-length-detailed {
    font-size: 1.4rem;
    font-weight: 200;
    color: var(--color-subtext0);
  }

  &:hover {
    .work-item-company-length-detailed,
    .work-item-position-length-detailed {
      opacity: 1;
    }
  }
}

.work-item-company-subtitle-content {
  display: flex;
  align-items: baseline;
}

.work-item-company-length,
.work-item-position-length {
  padding-left: 1rem;

  font-size: 1.4rem;
  font-weight: 200;

  color: var(--color-subtext0);

  cursor: pointer;

  &-detailed {
    font-weight: 200;

    color: var(--color-subtext0);

    opacity: 0;

    transition: opacity 200ms ease-in-out;
  }

  &:hover &-detailed {
    opacity: 1;
  }
}

.work-item-position-length {
  padding-left: 0;
}

.work-item-content {
  display: flex;

  padding: 2rem;
}

.work-item-company-info {
  padding: 0 6rem;
}

.work-item-company-logo {
  position: relative;

  width: 200px;
  max-width: 100%;
  height: 100px;

  margin: auto;
  margin-top: 50px;

  & > * {
    object-fit: contain;
  }
}

.work-item-positions {
  flex: 1;
  display: flex;
  flex-direction: column;

  padding: 0 2rem;
  padding-top: 4rem;
}

.work-item-position {
  width: 100%;

  margin: auto;
  margin-top: 4rem;

  &:first-of-type {
    margin-top: 0;
  }
}

.work-item-position-info {
  display: flex;
  align-items: baseline;

  margin-bottom: 1rem;
}

.work-item-position-name {
  color: var(--color-subtext0);

  padding-right: 1rem;
}

a.resume-link {
  margin-top: 18rem;
}

.resume-link-extension {
  font-size: 0.6em;
  vertical-align: text-top;
}

@media (max-width: breakpoints.$mobile) {
  .work-item {
    width: 100%;
  }

  .work-item-company-info {
    padding: 0;
  }

  .work-item-company-logo {
    margin-top: 0;
  }

  .work-item-content {
    flex-direction: column;
    padding-bottom: 0;
  }

  .work-item-positions {
    padding: 0;
    padding-top: 2rem;
  }

  .work-item-position-info {
    display: flex;
    flex-direction: column;
  }

  a.resume-link {
    display: block;
    width: 75%;
    transform: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 18rem;
  }
}
