@use '@/styles/utils/breakpoints';

@use '@/components/sections/Section.module.scss';

.work-item {
  width: 70%;

  margin: auto;
}

.work-item-company {
  padding-bottom: 4rem;

  text-align: center;
}

.work-item-company-name {
  padding: 0;
  margin: 0;

  font-size: 2rem;

  color: var(--color-subtext1);
}

.work-item-company-length {
  padding-left: 0;

  font-size: 1.4rem;
  font-weight: 200;

  color: var(--color-subtext0);

  cursor: pointer;

  &-detailed {
    color: var(--color-overlay2);

    opacity: 0;

    transition: opacity 200ms ease-in-out;
  }

  &:hover &-detailed {
    opacity: 1;
  }
}

.work-item-positions {
  display: flex;
  flex-direction: column;

  max-width: 90%;
  margin: auto;
}

.work-item-seperator {
  background: linear-gradient(
    var(--color-base),
    var(--color-text) 5%,
    var(--color-text) 95%,
    var(--color-base)
  );

  width: 1px;
  height: 5rem;
  margin: auto;
  margin-bottom: 5rem;

  opacity: 0.3;
}

.resume-link-extension {
  font-size: 0.6em;
  vertical-align: text-top;
}

@media (max-width: breakpoints.$mobile) {
  .section-header {
    margin-bottom: 2rem;
  }

  .work-item {
    width: 100%;
  }

  .work-item-company {
    padding-bottom: 2rem;
  }

  .work-item-seperator {
    height: 3rem;
    margin-bottom: 2rem;
  }

  a.resume-link {
    display: block;
    width: 75%;
    transform: none;
    margin-left: auto;
    margin-right: auto;
  }
}
