@use '@/styles/utils/colors';

.background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  opacity: 0.2;

  box-shadow: 0px 0px 10px rgba(colors.$black, 0.3);
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  height: 100%;
  width: 100%;

  object-fit: cover;

  mix-blend-mode: difference;
}
