.background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@keyframes lively {
  from {
    filter: hue-rotate(0deg) blur(50px);
  }

  to {
    filter: hue-rotate(360deg) blur(60px);
  }
}

.images-container {
  height: 100%;
  width: 100%;

  animation: lively 10s linear infinite forwards alternate;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  width: 100%;
  height: 100%;

  object-fit: cover;

  mix-blend-mode: multiply;

  opacity: 0;

  transition: opacity 2s ease-in-out;

  &.active {
    opacity: 1;
  }
}

.scan-lines-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  opacity: 0;

  mix-blend-mode: soft-light;

  transition: opacity 2s ease-in-out;

  &.active {
    opacity: 1;
  }
}
