@use '@/styles/utils/colors';

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100%;
  color: colors.$text;
  // background: linear-gradient(
  //   to bottom right,
  //   colors.$dark-red,
  //   colors.$background,
  //   colors.$dark-blue
  // );

  background: colors.$base;
  font-size: 10px;
  text-rendering: optimizeLegibility;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

main {
  height: 100%;
  min-height: 100%;
}

a {
  color: colors.$subtext0;

  text-decoration: none;

  &:active,
  &:visited,
  &:link,
  &:focus,
  &:hover {
    color: colors.$subtext0;
  }

  &:hover,
  &:active {
    color: colors.$subtext1;

    transition: color 200ms ease-in-out;
  }
}
