@use '@/styles/utils/colors';

html,
body {
  width: 100%;
  height: 100%;
  color: colors.$foreground;
  background: linear-gradient(
    to bottom right,
    colors.$dark-red,
    colors.$background,
    colors.$dark-blue
  );
  font-size: 10px;
  text-rendering: optimizeLegibility;
  padding: 0;
  margin: 0;
}
