@use '@/styles/utils/breakpoints';

.collapsible-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  text-align: left;

  margin-bottom: 6rem;

  background: var(--color-base);

  box-shadow: var(--box-shadow-item);

  border-radius: 10px;

  &.marginless {
    margin-bottom: 0;
  }
}

.collapsible-item-info {
  display: flex;
  align-items: baseline;

  width: 100%;

  padding: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;

  background-color: var(--color-mantle);

  border-bottom: 1px solid var(--color-crust);

  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;

  &.minimized {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;

    border-bottom: none;
  }
}

.collapsible-item-info-title {
  display: inline-block;

  margin: 0;
  padding: 0;

  font-size: 1.8rem;
}

.collapsible-item-info-sub-title {
  padding-left: 1rem;

  font-size: 1.4rem;
  font-weight: 200;

  color: var(--color-subtext1);
}

.collapsible-item-info-detailed-title {
  opacity: 0;

  color: var(--color-subtext0);

  transition: opacity 200ms ease-in-out;
}

.collapsible-item-info-sub-title:hover .collapsible-item-info-detailed-title,
.collapsible-item-info-detailed-title:hover {
  opacity: 1;
}

.collapsible-item-info-seperator {
  flex: 1;
}

button.collapsible-item-info-toggle-minimize {
  position: relative;

  height: 2rem;
  width: 3rem;

  padding: 0;
  margin: 0;

  background: none;
  border-bottom: none;

  font-size: 2rem;

  line-height: 0;

  opacity: 0.5;

  color: var(--color-subtext0);

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.9;
  }

  &:active,
  &:hover {
    box-shadow: none;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0rem;
    left: 0;
    bottom: 0rem;

    width: 0.5rem;

    border: 1px solid var(--color-subtext0);
    border-right: none;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0rem;
    right: 0;
    bottom: 0rem;

    width: 0.5rem;

    border: 1px solid var(--color-subtext0);
    border-left: none;
  }
}

.collapsible-item-content {
  position: relative;

  width: 100%;

  padding: 2rem;
  padding-top: 1rem;
}

@media (max-width: breakpoints.$mobile) {
  .collapsible-item {
    margin-bottom: 2.25rem;

    & + .collapsible-item {
      margin-top: 4rem;
    }

    &.marginless {
      margin-bottom: 0;

      & + .collapsible-item {
        margin-top: 0;
      }
    }
  }

  .collapsible-item-info {
    flex-direction: column;
  }

  .collapsible-item-info-sub-title {
    width: 100%;
    padding-left: 0;
  }

  button.collapsible-item-info-toggle-minimize {
    position: absolute;
    top: 1.5rem;
    right: 2.5rem;
  }
}
