@use '@/styles/utils/breakpoints';

.footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 3rem 10%;

  color: var(--color-subtext0);
}

.footer-item {
  font-size: 1.1rem;

  width: fit-content;
  padding: 2rem;
}

button.footer-item,
a.footer-item {
  margin: 0;
  padding: 2rem;

  background: none;
  box-shadow: none;

  color: var(--color-subtext0);

  cursor: pointer;

  &:hover,
  &:active {
    color: var(--color-subtext0);

    text-decoration: underline;

    box-shadow: none;
  }

  &:active {
    color: var(--color-text);
  }
}

.footer-section-seperator {
  flex: 0.5;
}

@media (max-width: breakpoints.$mobile) {
  .footer {
    flex-wrap: wrap;
    justify-content: center;

    padding: 3rem 5%;
    padding-top: 1.5rem;

    &::before {
      left: calc(5% + 2rem);
      right: calc(5% + 2rem);
    }
  }

  .footer-section-seperator {
    display: none;
  }

  .footer-item {
    width: 100%;
    text-align: center;
  }

  button.footer-item,
  a.footer-item {
    width: unset;
    transform: none;
  }
}
