@use '@/styles/utils/colors';

.header {
  position: fixed;
  display: flex;
  align-items: baseline;

  top: 0;
  left: 0;
  right: 0;

  padding: 3rem 8rem;

  z-index: 10;

  & > * {
    flex: 1;
  }
}

.header-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background: transparentize(colors.$mantle, 0.1);
  backdrop-filter: blur(4px);

  border-bottom: 1px solid transparentize(colors.$pink, 0.8);

  box-shadow: 0 -5px 10px colors.$crust;
}

.navigation-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1rem;
  padding-right: 4rem;
}

.navigation-header-spacer {
  flex: 100%;
}

@media (max-width: 900px) {
  .header {
    left: 2rem;
    right: 2rem;
  }
}
