@use '@/styles/utils/colors';

.hoverable-hr {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  width: 100%;

  margin-top: 1rem;
  margin-bottom: 0.5rem;

  &:hover .hoverable-hr-rule-title {
    opacity: 1;
  }
}

.hoverable-hr-rule {
  position: relative;
  flex: 100%;
  width: 100%;
  margin-bottom: 1.5rem;

  text-align: center;

  opacity: 0.5;

  pointer-events: none;
  user-select: none;

  &::before {
    content: '';
    position: absolute;
    left: 5%;
    right: 5%;
    top: calc(50% + 1px);

    height: 1px;

    background: colors.$text;

    opacity: 0.1;
  }
}

.hoverable-hr-rule-title {
  position: relative;
  padding-left: 2rem;
  padding-right: 2rem;

  background: colors.$mantle;

  font-size: 1.4rem;
  text-shadow: -1px 1px 1px colors.$black;
  opacity: 0;

  transition: opacity 200ms ease-in-out;
}
