.links {
  display: flex;
  align-items: center;
  justify-content: center;

  line-height: normal;
}

.link {
  margin: 0.25rem;
  padding: 0.75rem;

  line-height: 0;

  border-radius: 0.5rem;

  background: rgba(var(--color-black-raw), 0);

  color: var(--color-subtext0);

  transition: background 200ms ease-in-out;

  &:hover {
    background: rgba(var(--color-black-raw), 0.1);
  }
}
