@use '@/styles/utils/colors';

@keyframes addborder {
  0% {
    color: #aaa;
    border: 2px solid rgba(255, 255, 255, 0);
  }
  100% {
    color: #fff;
    border: 2px solid rgba(255, 255, 255, 1);
  }
}

@keyframes addafterborder {
  0% {
    border: 2px solid rgba(255, 0, 255, 0);
  }
  100% {
    border: 2px solid rgba(255, 0, 255, 0.2);
  }
}

@keyframes addbeforeborder {
  0% {
    border: 2px solid rgba(255, 0, 255, 0);
  }
  100% {
    border: 2px solid rgba(255, 0, 255, 0.1);
  }
}

.navigation-header-item {
  position: relative;

  margin-left: 1rem;
  margin-right: 1rem;
  padding: 0.5rem;

  border: 2px solid transparent;
  border-radius: 2px;

  font-size: 2rem;

  text-shadow: -11px -11px 0px rgba(255, 0, 0, 0);
  text-transform: capitalize;
  cursor: pointer;

  &:active,
  &:visited,
  &:link,
  &:focus,
  &:hover {
    text-decoration: none;
    color: #aaa;
  }

  &:hover {
    color: #ccc;
  }

  &::before {
    content: '';
    position: absolute;
    left: -17px;
    right: 8px;
    top: -17px;
    bottom: 8px;
    border: 2px solid rgba(255, 0, 0, 0);
    border-radius: 2px;
    pointer-events: none;
  }

  &::after {
    content: '';
    position: absolute;
    left: -11px;
    right: 2px;
    top: -10px;
    bottom: 4px;
    border: 2px solid rgba(255, 0, 0, 0);
    border-radius: 2px;
    pointer-events: none;
  }

  &.align-right {
    &::before {
      right: -17px;
      left: 8px;
    }

    &::after {
      right: -11px;
      left: 2px;
    }
  }

  &.active {
    cursor: default;

    animation: addborder 400ms ease-in-out 1 forwards 50ms;

    &::before {
      animation: addbeforeborder 300ms ease-in-out 1 forwards 200ms;
    }

    &::after {
      animation: addafterborder 400ms ease-in-out 1 forwards 100ms;
    }
  }
}
