@use '@/styles/utils/colors';

.project {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  margin-top: 10rem;

  // &:nth-of-type(even) {
  flex-direction: row-reverse;
  // }
}

.visualization {
  position: relative;
  width: 38%;

  margin: 0;
  margin-top: 3rem;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.info {
  width: 60%;
}

.project-title {
  text-align: center;
}

.description {
  margin-top: 1.5rem;
  padding: 2rem;

  background: rgba(colors.$black, 0.1);

  box-shadow: 0px 2px 4px rgba(colors.$black, 0.3);
}
