@use '@/styles/utils/breakpoints';

.project {
  position: relative;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  max-width: 100%;
  margin: auto;
}

.visualization {
  position: relative;

  width: 38%;

  margin: 0;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  &.mobile {
    display: none;
    text-align: center;
  }
}

.links {
  &.desktop {
    display: block;
  }

  &.mobile {
    display: none;
  }
}

.info {
  width: 60%;
}

.project-title {
  text-align: center;
}

.description {
  margin-top: 1.5rem;
  padding: 2rem;
}

@media (max-width: breakpoints.$mobile) {
  .project {
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 95%;
  }

  .visualization {
    &.desktop {
      display: none;
    }

    &.mobile {
      display: inline;
    }
  }

  .links {
    &.desktop {
      display: none;
    }

    &.mobile {
      display: block;
    }
  }

  .info {
    width: 100%;
  }
}
