@use '@/styles/utils/breakpoints';

.project {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.visualization {
  position: relative;

  width: 100%;

  margin: auto;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.links {
  display: block;
}

.info {
  width: 100%;
}

.project-title {
  text-align: center;
}

.description {
  margin-top: 1.5rem;
}
