@use '@/styles/utils/colors';

.title {
  position: absolute;
  top: -0.75rem;
  left: 50%;
  transform: translateX(-50%);

  user-select: none;
}

.title-header {
  display: flex;
  align-items: baseline;

  &:active,
  &:visited,
  &:link,
  &:focus,
  &:hover {
    text-decoration: none;
    color: colors.$textlight;
  }
}

.title-main {
  font-size: 6rem;
  font-weight: 300;
  letter-spacing: -1em;
}

.title-secondary {
  padding-left: 4.25rem;
  font-size: 3rem;
  font-weight: 100;
}

.title-emphasis {
  font-weight: 400;
}

.title-seperator {
  font-size: 2em;
}

.title-sub {
  vertical-align: sub;
  font-size: 0.75em;
}

.title-main-start {
  font-size: 1.5em;
  font-weight: 100;
}

.title-main-middle {
  font-size: 0.875em;
  font-weight: 100;
}

.title-main-end {
  font-size: 0.6875em;
  font-weight: 100;
}
