.content {
  position: relative;

  flex: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;

  &.tripping {
    .intro {
      opacity: 0;
      pointer-events: none;
    }

    .trip {
      opacity: 1;
      pointer-events: all;
      transition: opacity 333ms 333ms ease-in-out;
    }
  }
}

.intro,
.trip {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  transition: opacity 333ms ease-in-out;
}

.trip {
  opacity: 0;
  pointer-events: none;
}

.title {
  position: relative;
  margin-bottom: 2rem;
  font-size: 1.314rem;
}

.drip {
  position: absolute;
  top: 0;
  left: 0;
}

.navigation {
  display: flex;
  flex-direction: column;

  text-align: center;

  font-size: 1.5rem;
}

.options {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  width: 100%;

  & > :first-child {
    border-bottom-color: #ff0033;
  }

  button {
    margin-left: 0;
    transform: none;
  }
}
