@mixin set-flavor-colors($flavor) {

}

@mixin set-base-colors {
  --color-white: #ffffff;
  --color-white-rgb: 255 255 255;
  --color-white-hsl: 0 0% 100%;

  --color-black: #000000;
  --color-black-rgb: 0 0 0;
  --color-black-hsl: 0 0% 0%;

  --color-primary-red: #FFFFFF;
  --color-primary-red-rgb: 255, 255, 255;
  --color-primary-red-hsl: 0 0% 100%;

  --color-primary-green: #FFFFFF;
  --color-primary-green-rgb: 255 255 255;
  --color-primary-green-hsl: 0 0% 100%;

  --color-primary-blue: #FFFFFF;
  --color-primary-blue-rgb: 255 255 255;
  --color-primary-blue-hsl: 0 0% 100%;

  --color-text-light: #FFFFFF;
}

@mixin set-light-colors {
  @include set-flavor-colors('latte');

  --color-rosewater: #000000;
  --color-rosewater-rgb: 0 0 0;
  --color-rosewater-hsl: 0 0% 0%;

  --color-flamingo: #000000;
  --color-flamingo-rgb: 0 0 0;
  --color-flamingo-hsl: 0 0% 0%;

  --color-pink: #000000;
  --color-pink-rgb: 0 0 0;
  --color-pink-hsl: 0 0% 0%;

  --color-mauve: #000000;
  --color-mauve-rgb: 0 0 0;
  --color-mauve-hsl: 0 0% 0%;

  --color-red: #000000;
  --color-red-rgb: 0 0 0;
  --color-red-hsl: 0 0% 0%;

  --color-sapphire: #000000;
  --color-sapphire-rgb: 0 0 0;
  --color-sapphire-hsl: 0 0% 0%;

  --color-sky: #000000;
  --color-sky-rgb: 0 0 0;
  --color-sky-hsl: 0 0% 0%;

  --color-teal: #000000;
  --color-teal-rgb: 0 0 0;
  --color-teal-hsl: 0 0% 0%;
  
  --color-green: #000000;
  --color-green-rgb: 0 0 0;
  --color-green-hsl: 0 0% 0%;

  --color-yellow: #000000;
  --color-yellow-rgb: 0 0 0;
  --color-yellow-hsl: 0 0% 0%;

  --color-peach: #000000;
  --color-peach-rgb: 0 0 0;
  --color-peach-hsl: 0 0% 0%;

  --color-maroon: #000000;
  --color-maroon-rgb: 0 0 0;
  --color-maroon-hsl: 0 0% 0%;

  --color-blue: #000000;
  --color-blue-rgb: 0 0 0;
  --color-blue-hsl: 0 0% 0%;

  --color-lavender: #000000;
  --color-lavender-rgb: 0 0 0;
  --color-lavender-hsl: 0 0% 0%;

  --color-text: #000000;
  --color-text-rgb: 0 0 0;
  --color-text-hsl: 0 0% 0%;

  --color-subtext1: #000000;
  --color-subtext1-rgb: 0 0 0;
  --color-subtext1-hsl: 0 0% 0%;

  --color-subtext0: #000000;
  --color-subtext0-rgb: 0 0 0;
  --color-subtext0-hsl: 0 0% 0%;

  --color-base: #FFFFFF;
  --color-base-rgb: 255 255 255;
  --color-base-hsl: 0 0% 100%;

  --color-crust: #FFFFFF;
  --color-crust-rgb: 255 255 255;
  --color-crust-hsl: 0 0% 100%;

  --color-mantle: #FFFFFF;
  --color-mantle-rgb: 255 255 255;
  --color-mantle-hsl: 0 0% 100%;

  --color-overlay2: #FFFFFF;
  --color-overlay2-rgb: 255 255 255;
  --color-overlay2-hsl: 0 0% 100%;

  --color-overlay1: #FFFFFF;
  --color-overlay1-rgb: 255 255 255;
  --color-overlay1-hsl: 0 0% 100%;

  --color-overlay0: #FFFFFF;
  --color-overlay0-rgb: 255 255 255;
  --color-overlay0-hsl: 0 0% 100%;

  --color-surface2: #FFFFFF;
  --color-surface2-rgb: 255 255 255;
  --color-surface2-hsl: 0 0% 100%;

  --color-surface1: #FFFFFF;
  --color-surface1-rgb: 255 255 255;
  --color-surface1-hsl: 0 0% 100%;

  --color-surface0: #FFFFFF;
  --color-surface0-rgb: 255 255 255;
  --color-surface0-hsl: 0 0% 100%;
}

@mixin set-dark-colors {
  @include set-flavor-colors('frappe');

  --color-rosewater: #FFFFFF;
  --color-rosewater-rgb: 255 255 255;
  --color-rosewater-hsl: 0 0% 100%;

  --color-flamingo: #FFFFFF;
  --color-flamingo-rgb: 255 255 255;
  --color-flamingo-hsl: 0 0% 100%;

  --color-pink: #FFFFFF;
  --color-pink-rgb: 255 255 255;
  --color-pink-hsl: 0 0% 100%;

  --color-mauve: #FFFFFF;
  --color-mauve-rgb: 255 255 255;
  --color-mauve-hsl: 0 0% 100%;

  --color-red: #FFFFFF;
  --color-red-rgb: 255 255 255;
  --color-red-hsl: 0 0% 100%;

  --color-sapphire: #FFFFFF;
  --color-sapphire-rgb: 255 255 255;
  --color-sapphire-hsl: 0 0% 100%;

  --color-sky: #FFFFFF;
  --color-sky-rgb: 255 255 255;
  --color-sky-hsl: 0 0% 100%;

  --color-teal: #FFFFFF;
  --color-teal-rgb: 255 255 255;
  --color-teal-hsl: 0 0% 100%;
  
  --color-green: #FFFFFF;
  --color-green-rgb: 255 255 255;
  --color-green-hsl: 0 0% 100%;

  --color-yellow: #FFFFFF;
  --color-yellow-rgb: 255 255 255;
  --color-yellow-hsl: 0 0% 100%;

  --color-peach: #FFFFFF;
  --color-peach-rgb: 255 255 255;
  --color-peach-hsl: 0 0% 100%;

  --color-maroon: #FFFFFF;
  --color-maroon-rgb: 255 255 255;
  --color-maroon-hsl: 0 0% 100%;

  --color-blue: #FFFFFF;
  --color-blue-rgb: 255 255 255;
  --color-blue-hsl: 0 0% 100%;

  --color-lavender: #FFFFFF;
  --color-lavender-rgb: 255 255 255;
  --color-lavender-hsl: 0 0% 100%;

  --color-text: #FFFFFF;
  --color-text-rgb: 255 255 255;
  --color-text-hsl: 0 0% 100%;

  --color-subtext1: #FFFFFF;
  --color-subtext1-rgb: 255 255 255;
  --color-subtext1-hsl: 0 0% 100%;

  --color-subtext0: #FFFFFF;
  --color-subtext0-rgb: 255 255 255;
  --color-subtext0-hsl: 0 0% 100%;

  --color-base: #000000;
  --color-base-rgb: 0 0 0;
  --color-base-hsl: 0 0% 0%;

  --color-crust: #000000;
  --color-crust-rgb: 0 0 0;
  --color-crust-hsl: 0 0% 0%;

  --color-mantle: #000000;
  --color-mantle-rgb: 0 0 0;
  --color-mantle-hsl: 0 0% 0%;

  --color-overlay2: #000000;
  --color-overlay2-rgb: 0 0 0;
  --color-overlay2-hsl: 0 0% 0%;

  --color-overlay1: #000000;
  --color-overlay1-rgb: 0 0 0;
  --color-overlay1-hsl: 0 0% 0%;

  --color-overlay0: #000000;
  --color-overlay0-rgb: 0 0 0;
  --color-overlay0-hsl: 0 0% 0%;

  --color-surface2: #000000;
  --color-surface2-rgb: 0 0 0;
  --color-surface2-hsl: 0 0% 0%;

  --color-surface1: #000000;
  --color-surface1-rgb: 0 0 0;
  --color-surface1-hsl: 0 0% 0%;

  --color-surface0: #000000;
  --color-surface0-rgb: 0 0 0;
  --color-surface0-hsl: 0 0% 0%;
}
