.cw {
  display: flex;
  align-items: center;
}

.label {
  padding: 0 1rem;

  background: var(--demandment-color-foreground);
  color: var(--demandment-color-background);

  border: 2px solid var(--demandment-color-foreground);
}

.warnings {
  display: flex;

  margin: 0;
  padding: 0 1rem;

  border: 2px solid var(--demandment-color-foreground);

  list-style: none;
}
