.wrapper {
  width: 95%;
  max-width: 900px;

  margin: 16rem auto;
  padding: 2rem;

  background: var(--color-mantle);
  box-shadow: 3px 3px 5px rgba(var(--color-black-raw), 0.3);

  font-size: 1.5rem;

  border-radius: 5px;

  & p {
    margin: 1rem 0;
  }
}
