.wrapper {
  width: 95%;
  max-width: 900px;

  margin: 16rem auto;
  padding: 4rem;

  background: var(--color-base);
  box-shadow: var(--box-shadow-item);

  font-size: 1.5rem;

  border-radius: 1rem;

  & p {
    margin: 1rem 0;
  }
}
