@use '@/styles/utils/colors';

.image {
  max-width: 100%;
  height: auto;
}

@keyframes icon-stutter {
  35.9% {
    transform: scaleY(1);
  }
  36% {
    transform: scaleY(-1);
  }
  36.9% {
    transform: scaleY(1);
  }
}

@keyframes icon-stutter-layered {
  83.9% {
    transform: scaleY(1);
  }
  84% {
    transform: scaleY(-0.8);
  }
  84.9% {
    transform: scaleY(1);
  }
}

@keyframes icon-flicker {
  0% {
    text-shadow: 0px 0px 1px colors.$black;
  }
  100% {
    text-shadow: 0px 0px 1px colors.$black;
  }
}

@keyframes icon-drip {
  from {
    filter: drop-shadow(0px 0px 0px colors.$primary-red);
  }
  to {
    filter: drop-shadow(2px 3px 3px darken(colors.$primary-red, 30.3%));
  }
}

.icons-container {
  filter: drop-shadow(2px 4px 0px colors.$white)
    drop-shadow(2px 4px 6px colors.$black);
}

.icon {
  opacity: 0.3336663339997272;

  font-size: 20rem;

  animation: icon-drip 10s ease-in-out infinite alternate,
    icon-stutter 1s 3ms ease-in-out infinite alternate,
    icon-stutter-layered 1.25s 42ms linear infinite alternate;
}

.mouth {
  position: absolute;
  left: -30%;
  top: 20rem;

  width: 10rem;

  transform: scaleX(-1) skewY(10deg);

  overflow: hidden;

  .icon {
    animation: icon-drip 11s 22ms ease-in-out infinite alternate,
      icon-stutter 1s 666ms ease-in-out infinite alternate,
      icon-stutter-layered 1.25s 333ms linear infinite alternate;
  }
}
