.koob {
  display: flex;
  justify-content: center;

  margin-top: 100px;
  margin-bottom: 100px;
}

.koob-content {
  position: relative;
  width: 90%;
  max-width: 666px;

  padding-top: 2rem;

  background: var(--color-base);

  box-shadow: var(--box-shadow-item);
}

a.side-control,
button.side-control,
.side-control {
  position: absolute;
  top: 0;
  bottom: 0;

  background: var(--color-mantle);

  box-shadow: none;

  border: none;

  padding: 2rem;
  margin: 0;

  font-size: 1.6rem;
  font-weight: 400;

  color: var(--color-subtext1);

  transform: none;

  &:disabled {
    color: var(--color-subtext0);
  }

  &:hover,
  &:active {
    border-bottom: none;
  }

  &.prev {
    right: 100%;

    border-top-right-radius: 0px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 10px;

    &:hover,
    &:active,
    &:focus-visible {
      color: var(--color-subtext0);

      box-shadow: none;
    }
  }

  &.next {
    left: 100%;

    border-top-left-radius: 0px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 10px;

    &:hover,
    &:active,
    &:focus-visible {
      color: var(--color-subtext0);

      box-shadow: none;
    }
  }
}

.side-control-icon {
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
}

.eman {
  position: relative;

  width: fit-content;
  margin: auto;

  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;

  &::before {
    content: '·';
    position: absolute;
    top: 50%;
    left: 0;

    transform: translate(-333%, -50%);
  }

  &::after {
    content: '·';
    position: absolute;
    top: 50%;
    right: 0;

    transform: translate(333%, -50%);

    color: var(--color-black);
  }
}

.divider {
  position: relative;

  width: calc(100% - 8rem - 6px);
  height: 1px;

  margin: auto;

  background: linear-gradient(to right, var(--color-black), var(--color-white));

  border-radius: 100px;

  font-size: 2rem;

  &::before {
    content: '⛤';
    position: absolute;
    top: calc(100% - 1px);
    left: -3px;

    transform: translate(-50%, -50%);

    color: var(--color-black);

    text-shadow: 0px 0px 6px rgba(var(--color-black-rgb) / 0.666);
  }

  &::after {
    content: '⛧';
    position: absolute;
    top: 100%;
    right: -3px;

    transform: translate(50%, -50%);

    color: var(--color-white);

    text-shadow: 0px 0px 6px rgba(var(--color-white-rgb) / 0.666);
  }
}

.sretpahc {
  width: 100%;

  text-align: right;
  font-size: 1.5rem;
}

.retpahc {
  padding: 2rem;
}
